/* .StopWatch{
    background-color: rgb(238, 238, 238);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  } */

.stop-watch-container {
  /* padding-left: 15px; */
}

.stop-watch {
  background-color: #0d0c1b;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 10px solid #e42a2a;
  width: 100%;
}

.timer{
    margin-top: 30px;
    padding: 10px;
    width: 100%;
    display: flex;
    height: 30%;
    justify-content: center;
    align-items: center;
}
  
.digits{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3rem;
    color:  #f5f5f5;
}
  
.mili-sec{
    color:  #e42a2a;
}

.Control-Buttons {
    margin: 3rem 0;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
  }
    
  .btn-grp {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
    
  .btn {
    width: 8vw;
    height: 6vh;
    border-radius: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #f5f5f5;
    font-weight: bold;
    font-size: 1.7rem;
  }
    
  .btn-one{
      background-color: #e42a2a;
      transition: all 200ms ease-in-out;
  }

  .btn-one:hover {
    color: #e42a2a;
    background-color: white;
    transition: all 200ms ease-in-out;
  }