.FlashCards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.fctitle {
	margin: 10px;
	font-weight: bold;
	font-size: 30px;
}

 .FlashCard__Container {
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
	font-family: "Open Sans", sans-serif;
	width: 75vw;
	height: 94vh;
} 

.FlashCards-Question {
	font-family: "Open Sans", sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: "Open Sans", sans-serif;
}

.FlashCards-Question .fcq {
	font-size: 35px;
	text-align: center;
	padding-bottom: 30px;
	font-family: "Open Sans", sans-serif;
	margin: 10px;
	width: 80%;
}


.FlashCards-Answer {
	font-family: "Open Sans", sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.FlashCards-Answer-Text {
	font-family: "Open Sans", sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color: rgb(0, 110, 255);
	transform-origin: center;
	font-size: 35px;
	text-align: center;
	padding-bottom: 30px;
	font-family: "Open Sans", sans-serif;
	margin: 10px;
	width: 80%;
}

/* .FlashCards-Answer-Text,
.btn-answer:active {
	opacity: 0;
	transition-delay: 3s;
} */

.StartDeck {
	width: 60vw;
	height: 60vh;
	
	border-radius: 10px;
	background-color: rgb(0, 110, 255);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.StartDeck button {
	font-size: 32px;
	font-family: "Open Sans", sans-serif;
	padding: 5px 20px;
	border-radius: 10px;
	background-color: black;
	color: #fff;
	transition: all 200ms ease-in-out;
	cursor: pointer;
  }
  
 .StartDeck button:hover {
	background-color: rgb(255, 30, 0);
  }
  
  .StartDeck button:focus {
	outline: none;
  }

.FlashCards-Question {
	width: 60vw;
	height: 60vh;
	
	border-radius: 10px;
	background-color: rgb(0, 110, 255);
	display: flex;
	flex-direction: column;
	align-items: center;
}

.fade-in {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.FlashCards-Answer {
	width: 60vw;
	height: 60vh;
	
	border-radius: 10px;
	background-color: black;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.FinalScreen {
	width: 60vw;
	height: 60vh;
	
	border-radius: 10px;
	background-color: rgb(0, 110, 255);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.StartDeck {
	color: white;
	font-size: 2rem;
	width: 60vw;
	height: 60vh;
}

.FlashCards-Question {
	color: white;
	font-size: 2rem;
}

.FlashCards-Answer {
	color: white;
	font-size: 2rem;
}

.FinalScreen {
	color: white;
	font-size: 2rem;
}

.FlashCards-Question button {
	width: 300px;
	height: 50px;
	margin: 5px;
	border: none;
	border-radius: 5px;
	font-size: 20px;
	cursor: pointer;
}

.FlashCards-Question button {
	font-size: 25px;
	font-family: "Open Sans", sans-serif;
	font-weight: bold;
	padding: 5px 20px;
	background-color: rgb(0, 110, 255);
	color: #fff;
	border: 2px solid white;
	border-radius: 10px;
	transition: all 200ms ease-in-out;
	cursor: pointer;
  }
  
.FlashCards-Question button:hover {
	background-color: white;
	color: rgb(0, 110, 255);
  }
  
.FlachCards-Question button:focus {
	outline: none;
  }


.FlashCards-Answer button {
	width: 300px;
	height: 50px;
	margin: 5px;
	border: none;
	border-radius: 5px;
	font-size: 20px;
	cursor: pointer;
}

.FlashCards-Answer button {
	font-size: 25px;
	font-family: "Open Sans", sans-serif;
	font-weight: bold;
	padding: 5px 20px;
	border: 0;
	background-color: rgb(0, 110, 255);
	color: black;
	border-radius: 10px;
	transition: all 200ms ease-in-out;
	cursor: pointer;
  }
  
.FlashCards-Answer button:hover {
	background-color: white;
	color: rgb(0, 110, 255);
  }
  
.FlachCards-Answer button:focus {
	outline: none;
  }


.FinalScreen button {
	width: 300px;
	height: 50px;
	margin: 5px;
	border: none;
	border-radius: 5px;
	font-size: 20px;
	cursor: pointer;
}

.FinalScreen button {
	font-size: 25px;
	font-family: "Open Sans", sans-serif;
	font-weight: bold;
	padding: 5px 20px;
	background-color: black;
	border-radius: 10px;
	color: #fff;
	transition: all 200ms ease-in-out;
	cursor: pointer;
	margin-top: 35px;
  }
  
.FinalScreen button:hover {
	background-color: rgb(255, 30, 0);
  }
  
.FinalScreen button:focus {
	outline: none;
  }

.options {
	width: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.front {
	background-color: green;
	height: 100;
	padding: 100px;
	color: white;
	display: flex;
	justify-self: center;
	align-items: center;
}

.back {
	background-color: red;
	height: 100;
	padding: 100px;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}

.progress-bar {
	
}