.FlashCards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* .FlashCard__Container {
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
	left: 800px;
} */

.FlashCards-Question {
	font-family: Arial, Helvetica, sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.FlashCards-Answer {
	font-family: Arial, Helvetica, sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.FlashCards-Answer-Text {
	font-family: Arial, Helvetica, sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color: red;
	transform-origin: center;
}

/* .FlashCards-Answer-Text,
.btn-answer:active {
	opacity: 0;
	transition-delay: 3s;
} */

.StartDeck {
	width: 500px;
	height: 500px;
	border-radius: 10px;
	background-color: lightseagreen;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.StartDeck button {
	width: 300px;
	height: 50px;
	margin: 5px;
	border: none;
	border-radius: 5px;
	font-size: 20px;
	cursor: pointer;
}

.FlashCards-Question {
	width: 500px;
	height: 500px;
	border-radius: 10px;
	background-color: lightseagreen;
	display: flex;
	flex-direction: column;
	align-items: center;
}


.FlashCards-Answer {
	width: 500px;
	height: 500px;
	border-radius: 10px;
	background-color: rgb(32, 78, 178);
	display: flex;
	flex-direction: column;
	align-items: center;
}

.FinalScreen {
	width: 500px;
	height: 500px;
	border-radius: 10px;
	background-color: lightseagreen;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.StartDeck {
	color: white;
}

.FlashCards-Question {
	color: white;
}

.FlashCards-Answer {
	color: white;
}

.FinalScreen {
	color: white;
}

.FlashCards-Question button {
	width: 300px;
	height: 50px;
	margin: 5px;
	border: none;
	border-radius: 5px;
	font-size: 20px;
	cursor: pointer;
}

.FlashCards-Answer button {
	width: 300px;
	height: 50px;
	margin: 5px;
	border: none;
	border-radius: 5px;
	font-size: 20px;
	cursor: pointer;
}

.FinalScreen button {
	width: 300px;
	height: 50px;
	margin: 5px;
	border: none;
	border-radius: 5px;
	font-size: 20px;
	cursor: pointer;
}

.options {
	width: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.front {
	background-color: green;
	height: 100;
	padding: 100px;
	color: white;
	display: flex;
	justify-self: center;
	align-items: center;
}

.back {
	background-color: red;
	height: 100;
	padding: 100px;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}
