.search_container {
    display: flex;
}

.categories_container {
    border: 1px solid;
    width: 250px;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.decks_container {
    border: 1px solid;
    width: 100%;
}
