.search_container {
    display: flex;
    font-family: "Open Sans", sans-serif;
}

.categories_container {
    border: 1px solid;
    width: 400px;
    height: 94vh;
    display: flex;
    flex-direction: column;
    /* padding: 20px; */
}

.category-title {
    font-size: 1.5rem;
    margin: 30px 0px 20px 80px;
}

.category-select {
    padding: 20px 100px;
    font-size: 1.3rem;
    color: black;
}

.category-select:hover {
    background-color: rgb(0, 110, 255);
    font-weight: bold;
    width: 100%;
}

.search-active {
    border-left: 15px solid rgb(0, 110, 255);
    font-weight: bold;
    width: 100%;
}

.decks_container {
    border: 1px solid;
    width: 100%;
}

.decks-title {
    font-size: 1.5rem;
    margin: 30px 0px 10px 80px;
}

.deck-search-results {
    overflow-y: scroll;
}

.deck-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    padding: 20px;
    margin: 20px;
    background-color: white;
}

.deck-card:hover {
    background-color: rgb(0, 110, 255);
    box-shadow: 0px 0px 12px 2px rgba(15, 15, 15, 0.2);
    transform: scale(1.01)
}

.deck-card-title__container {
    width: 330px;
}

.deck-card-category__container {
    width: 230px;
}

.deck-card-user__container {
    width: 230px;
}

.deck-card-count__container {
    width: 230px;
}
